link(rel='stylesheet', href='/css/irish_poker.css')

#player-info(data-playerId=player.id, data-gameSlug=game.slug, data-status=game.serialize())

.game-header
  h1 Irish Poker
  h2 #{game.slug}

  div#players
    each player in game.players
      div= player.name

  div#status

  if !game.gameStarted
    div#start-button.button.font--large
      | START GAME

  #my-cards
    .card(data-card=0)
    .card(data-card=1)
    .card(data-card=2)
    .card(data-card=3)

  #actions

  #messages

script(src="/scripts/game_client.js")
script(src="/scripts/games/irish_poker.js")
